html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: fit-content;
  min-width: 100%;
}

body {
  background-color: #ffffff;
}

hr {
  color: #783cfc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: rgb(0, 0, 0);
}

div {
  text-align: center;
}

p,
a {
  color: rgb(0, 0, 0);
}

a:hover {
  color: #ffffff;
}

button:hover{
  color: #ffffff;
}



input:hover,
input:active,
input:focus,
button:focus,
button:active,
button:hover,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.form-control {
  margin-top: 5px;
  padding: 5px;
}

.btn.btn-primary {
  background-color: #783cfc;
  border: none;
  outline: none;
  margin-top: 9px;
  margin-left: 4px;
  border: solid 1px #783cfc;
}

.btn.btn-primary:hover {
  background-color: #ffffff;
  color: #000000;
  
}

#outer.container {
  margin-top: 50px;
}

.img{
  width: 200px;
}

#center.container {
  padding-top: 10px;
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 10px;
}

#form-container.container {
  padding-top: 10px;
  max-width: 650px;
  width: 350px;
  margin: auto;
  padding: 10px;
  border: solid 1px #783cfc;
  border-radius: 15px;
}